*{
	font-family: 'Roboto Mono', monospace;
	font-weight: 100;
}
body {
    background: radial-gradient(circle,#d0ccd1,#fa448c);
}
.nav__responsive-ul {
	display: none;
}
.nav {
	background-color: #e9ff88;
}
.nav__li {
	display: inline-block;
	padding: 12px;
	color: #e50185;
}
.nav__li:hover > a {
	color: #111010;
}
.nav__li:hover > i {
	color: #111010;
}
.nav__li a {
	color: #e50185;
	text-decoration: none;
}
.nav__li i {
	width: 30px;
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}
.nav__responsive-button-container {
	position: absolute;
	width: 100%;
	font-size: 25px;
	background-color: #e9ff88;
	margin-top: -64px;	
	z-index: 100;
}
.nav__responsive-button {
	padding: 6px 20px;
	text-align: right;
	width: 100%;
}
@media only screen and (max-width: 500px){
	.nav__ul {
		display: none;
	}
	.nav {
		height: 37px;
		width: 100%;
	}
	.nav__responsive-ul {
		display: block;
		position: absolute;
		width: 100%;		
		margin-top: 37px;
		padding-top: 27px;
		height: 37px;
	}
	.nav__li-container {
		position: relative;
		top: -1000px;
		height: calc(100vh - 64px);
		background: #111010;
		transition: all 1s;
		z-index: 1;
		width: 75%;
		padding-top: 27px;
	}
	.nav__responsive-li{
		width: 100%;
		padding: 20px;
	}
	.nav__responsive-li i {
		box-sizing: border-box;
		text-align: center;
		margin-right: 5px;
		width: 30px;
		color: #e50185;
	}
	.nav__responsive-li a {
		color: #e50185;
		text-decoration: none;
	}
	.nav__responsive-ul:hover > .nav__li-container {
		top: -27px;
	}
}